.container
  .nav-bar
    ul
      li
        div
          svg(
            stroke="currentColor",
            fill="none",
            stroke-width="1",
            viewbox="0 0 24 24",
            stroke-linecap="round",
            stroke-linejoin="round",
            height="2rem",
            width="2rem",
            xmlns="http://www.w3.org/2000/svg"
          )
            circle(cx="11", cy="13", r="9")
            path(
              d="m19.5 9.5 1.8-1.8a2.4 2.4 0 0 0 0-3.4l-1.6-1.6a2.41 2.41 0 0 0-3.4 0l-1.8 1.8"
            )
            path(d="m22 2-1.5 1.5")
      li.active
        div
          svg(
            stroke="currentColor",
            fill="none",
            stroke-width="1",
            viewbox="0 0 24 24",
            stroke-linecap="round",
            stroke-linejoin="round",
            height="2rem",
            width="2rem",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="m4.6 13.11 5.79-3.21c1.89-1.05 4.79 1.78 3.71 3.71l-3.22 5.81C8.8 23.16.79 15.23 4.6 13.11Z"
            )
            path(
              d="m10.5 9.5-1-2.29C9.2 6.48 8.8 6 8 6H4.5C2.79 6 2 6.5 2 8.5a7.71 7.71 0 0 0 2 4.83"
            )
            path(d="M8 6c0-1.55.24-4-2-4-2 0-2.5 2.17-2.5 4")
            path(
              d="m14.5 13.5 2.29 1c.73.3 1.21.7 1.21 1.5v3.5c0 1.71-.5 2.5-2.5 2.5a7.71 7.71 0 0 1-4.83-2"
            )
            path(d="M18 16c1.55 0 4-.24 4 2 0 2-2.17 2.5-4 2.5")
      li
        div
          svg(
            stroke="currentColor",
            fill="none",
            stroke-width="1",
            viewbox="0 0 24 24",
            stroke-linecap="round",
            stroke-linejoin="round",
            height="2em",
            width="2em",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(d="m2 4 3 12h14l3-12-6 7-4-7-4 7-6-7zm3 16h14")
      li
        div
          svg(
            stroke="currentColor",
            fill="none",
            stroke-width="1",
            viewbox="0 0 24 24",
            stroke-linecap="round",
            stroke-linejoin="round",
            height="2rem",
            width="2rem",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M10.827 16.379a6.082 6.082 0 0 1-8.618-7.002l5.412 1.45a6.082 6.082 0 0 1 7.002-8.618l-1.45 5.412a6.082 6.082 0 0 1 8.618 7.002l-5.412-1.45a6.082 6.082 0 0 1-7.002 8.618l1.45-5.412Z"
            )
            path(d="M12 12v.01")
